/* ヘッダーnavタグ */

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|layout
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 35px;
    color: #030303;
    font-weight: 550;
    text-align: center;
    padding: 50px;
    margin: 50px;
    border: none;
    border-top: 5px dotted rgb(250, 181, 19);
    border-bottom: 5px dotted rgb(250, 181, 19);
    
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #453e3e;
  margin: 40px;
  text-align: center;
}

p {
  margin: 5px;
  text-align: center;
}


@media screen and (max-width:768px) {

  h2 {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-top: 3px double rgb(255, 197, 246);
    border-bottom: 3px double rgb(255, 197, 246);
  }

  h3 {
    font-size: 15px;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
header
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

#header {
    width: 50vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px) {
  #header {
    width: 65vh;
    /* position: fixed;
    top: 0px; /*自分が固定したい位置*/
    /* right: 0px; */
  }
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーー
ハンバーガーメニュー
ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ・メニュー固定・zーindexの設定・デザイン */

#menuH{
  display: none;
}


@media screen and (max-width:768px) {
  #menuH{
    width: 10%;
    display: block;
  }

  #menuH{
    width: 65vh;
    text-align: right;
  }

  .hamburger-menu {
    width: 45px;
    height: 45px;
    z-index: 10;
  }

  #header {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }
  
  .btn-line {
    margin-top: 10px;
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #242424;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }
  .btn-line:first-child {
    top: 16px;
  }
  .btn-line:nth-child(2) {
    top: 24px;
  }
  .btn-line:last-child {
    top: 32px;
  }
  .hamburger-menu--open .btn-line {
    top: 50%;
  }
  .hamburger-menu--open .btn-line:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .btn-line:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .btn-line:nth-child(2) {
    display: none;
  }
  

  .navigation {
    display: none;
    background-color: white;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 9999;
  }
  
  .navigation__list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation__list-item {
    border-bottom: solid 1px rgb(255, 197, 246);
  }
  .navigation__list-item:first-child {
    border-top: solid 1px  rgb(255, 197, 246);
  }
  
  .navigation__link {
    color: black;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    margin: 10px;
    transition: .5s;
  }
}
  

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|main-hero
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* 表示崩れ・メニューボタン */

#hero {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero1 > img {
    width: 100%;
    object-fit: cover;
    filter: blur(1px);
    border-radius: 0.5%;
}

.menubtn {
  width: 100%;
  max-width: 200px; /* ボタン幅 */
  border: 5px solid #F38173; 
  border-radius: 0%;
  color: #F38173;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #F38173; /* 影の距離・色 */
  box-shadow: 4px 4px 0 #f4f414; /* 影の距離・色 */
  padding: 1em 2em;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  transition: 0.3s;
  margin:20px 50px;
}

.menubtn:hover {
  -webkit-box-shadow: -4px -4px 0 #F38173; /* 影の距離・色 */
  box-shadow: -10px -10px 0  rgb(250, 181, 19); /* 影の距離・色 */
}

@media screen and (max-width:768px){
  #hero {
    margin-top: 20px;
  }
  #needhide {
    display: none;
  }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|about
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.daily img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 0 30px;
}

.daily {
  display: flex;
  height: auto;
  width: 60%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
}


.aboutbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.maru1 {
  filter: drop-shadow(0 0 10px rgb(241, 238, 74));
  margin-bottom: 150px;
}

.maru2 {
  filter: drop-shadow(0 0 10px rgb(250, 181, 19));
  margin-top: 150px;
}


/* レスポンシブ*/

@media screen and (max-width:768px) {

.daily {
  background-color:rgba(247, 180, 180, 0.243);
  height: auto;
  width: 100%;
}

.daily img {
  height: 350px;
  width: 100%;
  object-fit: contain;
  border-radius: 0%;
  filter: blur(1px);
}

.story {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.maru1 {
  margin-bottom: 0;
  display: none;
}
.maru2 {
  opacity:0.5;
  margin-top: 0;
  }

.aboutbox {
  position: relative; 
}
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|real-hako1
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.real1 {
  width: 50%;
  height: auto;
}

.real1 img {
  filter: contrast(80%) brightness(110%);
}

.ex1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hako1 {
  background-color: rgba(255, 192, 203, 0.382);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin:60px 100px;
}

/* レスポンシブ */

@media screen and (max-width:768px) {
  .real1 {
    width: 100%;
  }
  .real1 img {
    width: 100%;
  }
  .ex1{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }

  .hako1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|real-hako2
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.real2 {
  width: 50%;
  height: auto;
}

.ex2 {
  background-color: aliceblue;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hako2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 100px;
}

/* レスポンシブ */
@media screen and (max-width:768px) {
  .real2 {
    width: 100%;
    order: -1;
  }
  
  .real2 img {
    width: 100%;
    height: 100%;
  }

  .ex2 {
    width: 100%;
    padding-bottom: 40px;
  }

  .hako2 {
    margin: 0;
    flex-direction: column;
  }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|real-hako3
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/*　表示崩れ（画面を小さくした時のテキストの高さ） */
.real3 {
  width: 50%;
  height: auto;
}

.real3 img {
  filter: saturate(65%) brightness(90%) contrast(90%);
}

.ex3 {
  background-color: rgba(255, 221, 0, 0.275);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hako3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 100px;
}

/* レスポンシブ */
@media screen and (max-width:768px) {
  .real3 {
    width: 100%;
    order: -1;
  }
  
  .real3 img {
    width: 100%;
    height: 100%;
  }

  .ex3 {
    width: 100%;
    padding-bottom: 40px;
  }

  .hako3 {
    margin: 0;
    flex-direction: column;
  }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|sns
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.SNSIMG img {
  height: 200px;
  width: 300px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5%;
}

.SNSBTN img {
  width: 120px;
  margin: 50px 100px;
}

.SNSIMG {
  display: flex;
  justify-content: space-around;
}

.SNSBTN {
  display: flex;
  justify-content: center;
}

@media screen and (min-width:768px) {
  .swiper {
    display: none;
  }
}

/* メディアクエリ */

@media screen and (max-width:768px) {
  .SNSIMG img {
    display: none;
  }

  .SNSBTN img {
    width: 80px;
    margin: 20px;
  }

  /* スライダー */
  .swiper-pagination {
    color:  rgb(255, 197, 246);
  }
  .swiper-button-prev {
    color:  rgb(255, 197, 246);
  }
  .swiper-button-next {
    color:  rgb(255, 197, 246);
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-content: center;
  }

}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|部員募集
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.wants img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 0 30px;
}

.wants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 60%;
}

.want {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.nakamabox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maru3 {
  margin-bottom: 150px;
}

.maru4 {
  margin-top: 150px;
}

/* レスポンシブ */
@media screen and (max-width:768px) {
  .wants img {
    width: 200px;
    height: 200px;
    padding: 20px;
}
.wants {
  width: 100%;
  height: auto;
}
.want {
  width: 100%;
}


.nakamabox {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maru3 {
  margin-bottom: 50px;
}

.maru4 {
  margin-top:50px;
}

}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|お問い合わせ qqq
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.question h3 {
  margin-bottom: 20px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|お問い合わせフォーム　Form
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#Form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-form {
  width: 800px;
  padding: 80px 30px 0 30px;
}

.form {
  margin: 0 auto;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  text-align: center;
  background-color: #F38173;
  color: white;
  padding:10px;
  border-radius: 5px;
}

.inputs {
  float: left;
  width: 500px;
}

input[type="text"] {
  border: solid 2px #aaa;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

textarea {
  border: solid 2px #aaa;
  padding: 10px;
  font-size: 15px;
  width: 500px;
  height: 450px;
  border-radius: 5px;
}

.button-area {
  text-align: center;
}

input[type="submit"] {
  background-color: #F38173;
  padding:10px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .contact-form {
    width: 500px;
  }

  .inputs {
    width: 350px;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|footer
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.lelast img {
  width: 150px;
  height: auto;
}

.saigoicon img {
  height: 25px;
  margin: 10px;
}

.rilast img {
  width: 20px;
  margin-right: 10px;
  margin-top: -15px;
}

.rilast li {
  margin: 5px;
  font-size: 20px;
}

.Copyright p {
  text-align: center;
  margin: 20px;  
}

.saigo {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:768px) {
  .saigoicon img {
    padding-right: 20px;
  }  
}
