/* cssの中に
layout
header.css
footer.cssなどと分けると良い,または下記のように */

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|layout
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* color
#F38173(orange
#fff(white
rgb(250, 181, 19) yellow
*/

/* メディアクエリ
@media screen and (max-width:480px) {}
@media screen and (min-width:768px) and (max-width:1024px) {}
@media screen and (min-width:1024px) {}

今回確実にやること(ipad系はあとで）

@media screen and (max-width:768px){}

 */

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 35px;
    color: #030303;
    font-weight: 550;
    text-align: center;
    padding: 50px;
    margin: 50px;
    /* 迷い中↓ */
    border: none;
    border-top: 5px dotted rgb(250, 181, 19);
    border-bottom: 5px dotted rgb(250, 181, 19);
    
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #453e3e;
}

@media screen and (max-width:768px) {

  h2 {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-top: 3px double rgb(250, 181, 19);
    border-bottom: 3px double rgb(250, 181, 19);
  }

  h3 {
    font-size: 15px;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
header
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

#header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-left{
  border: red 1px solid;
  width: 40%;
  height: auto;
}

#menuH{
  border: blue 1px solid;
  width: 10%;
}


@media screen and (max-width:768px){
  #header {
    width: 100%;
  }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー
ハンバーガーメニュー
ーーーーーーーーーーーーーーーーーーーーーーーーーーー */

#menuH{
  display: none;
}


@media screen and (max-width:768px){
  #menuH{
    display: block;
  }

  #header-left{
    width: 70%;
  }

  #menuH{
    width: 15%;
  }
  
  /* .menu {
    display: flex;
    flex-direction: row;
  } */
  /* .menubtn {
    position: fixed;
    right: -70%;
  } */
  .hamburger-menu {
    background-color: red;
    width: 45px;
    height: 45px;
  }
}




/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|main-hero
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

#hero {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero1 > img {
    width: 100%;
    object-fit: cover;
    filter: blur(1px);
    border-radius: 0.5%;
}

.menubtn {
  width: 100%;
  max-width: 250px; /* ボタン幅 */
  border: 2px solid #F38173; 
  border-radius: 0%;
  color: #F38173;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #F38173; /* 影の距離・色 */
  box-shadow: 4px 4px 0 #F38173; /* 影の距離・色 */
  padding: 1em 2em;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  transition: 0.3s;
  margin:20px 50px;
}

.menubtn:hover {
  -webkit-box-shadow: -4px -4px 0 #F38173; /* 影の距離・色 */
  box-shadow: -10px -10px 0  rgb(250, 181, 19); /* 影の距離・色 */
}




/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|about
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.daily img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 0 30px;
}

.daily {
  display: flex;
  height: auto;
  width: 60%;
  flex-direction: row;
  justify-content: center;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.story h3 {
  margin: 40px;
}
.story p {
  margin: 5px;
}

.aboutbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maru1 {
  filter: drop-shadow(0 0 10px rgb(241, 238, 74));
  margin-bottom: 150px;
}

.maru2 {
  filter: drop-shadow(0 0 10px rgb(250, 181, 19));
  margin-top: 150px;
}


/* レスポンシブ*/

@media screen and (max-width:768px) {
  .story h3 {
    margin: 5px;
  }

.daily img {
  width: 120px;
  height: 120px;
  filter: none;
}

.aboutbox {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.maru1 {
  margin-bottom: 30px;
}
.maru2 {
  margin-top: 30px;
}

.story {
  display: flex;

}
}



/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|real-hako1
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.real1 {
  width: 50%;
  height: auto;
}

.real1 img {
  filter: contrast(80%) brightness(110%);
}

.ex1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ex1 h3 {
  margin: 40px;
  text-align: center;
}

.ex1 p {
  margin: 5px;
  text-align: center;
}


.hako1 {
  background-color: rgba(255, 192, 203, 0.382);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin:60px 100px;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|real-hako2
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.real2 {
  width: 50%;
  height: auto;
}

.ex2 h3 {
  margin: 40px;
  text-align: center;
}

.ex2 p {
  margin: 5px;
  text-align: center;
}

.ex2 {
  background-color: aliceblue;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hako2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 100px;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|real-hako3
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.real3 {
  width: 50%;
  height: auto;
}

.real3 img {
  filter: saturate(65%) brightness(90%) contrast(90%);
}

.ex3 h3 {
  margin: 40px;
  text-align: center;
}

.ex3 p {
  margin: 5px;
  text-align: center;
}

.ex3 {
  background-color: rgba(255, 217, 0, 0.385);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hako3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 100px;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|sns
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.SNSIMG img {
  height: 200px;
  width: 300px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5%;
}

.SNSBTN img {
  width: 120px;
  margin: 50px 100px;
}

.SNSIMG {
  display: flex;
  justify-content: space-around;
}

.SNSBTN {
  display: flex;
  justify-content: center;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|部員募集
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.wants img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 0 30px;
}

.wants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 60%;
}

.want {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.want h3 {
  margin: 40px;
  text-align: center;
}

.want p {
  margin: 5px;
}

.nakamabox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maru3 {
  margin-bottom: 150px;
}

.maru4 {
  margin-top: 150px;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|お問い合わせ qqq
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.question h3 {
  margin-bottom: 20px;
}

.question p {
  margin: 5px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|お問い合わせフォーム　Form
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#Form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-form {
  width: 800px;
  padding: 80px 30px 0 30px;
}

.form {
  margin: 0 auto;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  text-align: center;
  background-color: #F38173;
  color: white;
  padding:10px;
  border-radius: 5px;
}

.inputs {
  float: left;
  width: 500px;
}

input[type="text"] {
  border: solid 2px #aaa;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

textarea {
  border: solid 2px #aaa;
  padding: 10px;
  font-size: 15px;
  width: 500px;
  height: 450px;
  border-radius: 5px;
}

.button-area {
  text-align: center;
}

input[type="submit"] {
  background-color: #F38173;
  padding:10px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
|footer
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.lelast img {
  width: 150px;
  height: auto;
}

.saigoicon img {
  height: 25px;
  margin: 10px;
}

.rilast img {
  width: 20px;
  margin-right: 10px;
  margin-top: -15px;
}

.rilast li {
  margin: 5px;
  font-size: 20px;
}

.Copyright p {
  text-align: center;
  margin: 20px;  
}

.saigo {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}